$primary-color : #084BB8;
$secondary-color: #b87508;

.bg-1{
    background-color: $primary-color!important;
    color: white!important;
}
.bg-2{
    background-color: $secondary-color!important;
    color: white!important;
}
.border-1{
    border-color: $primary-color!important;
}
.border-2{
    border-color: $secondary-color!important;
}
.mw-500{
    max-width: 500px;
}
.mh-500{
    max-height: 500px;
}
.fs-20{
    font-size:20px; 
}

.ajax-loader {
    display: block;
    text-align: center;
}
.ajax-loader img {
    width: 50px;
    vertical-align: middle;
}

/* loader ellips in separate pen CSS */