$primary-color : #084BB8;
$secondary-color: #b87508;

.bg-1{
    background-color: $primary-color!important;
    color: white!important;
}
.bg-2{
    background-color: $secondary-color!important;
    color: white!important;
}
.border-1{
    border-color: $primary-color!important;
}
.border-2{
    border-color: $secondary-color!important;
}
.mw-500{
    max-width: 400px;
}
.mh-500{
    max-height: 400px;
}
.fs-20{
    font-size:20px; 
}
.cursor-pointer{
    cursor: pointer;
}
.scroller-item{
    transition: all 1s ease-in;
}


.ajax-loader {
    display: block;
    text-align: center;
}
.ajax-loader img {
    width: 50px;
    vertical-align: middle;
}
.dropzone {
    background: #f2f2f2;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}
#icon-delete{
    width: min-content;
    display: flex;
    margin:0 auto;
}
#icon-delete i{
    font-size: 3rem;
    cursor: pointer;
}
.prix{
    font-size: 2rem;
}
.annonce-info{
    flex-direction: column;
    
}
.icons_annonce{
    font-size: 35px;
}
.img_annonce{
    max-width: 650px;
    max-height: 650px;
}
.search-bar{
    flex-grow: 3;
}
.search-bar select{
    border-radius: 0.25rem 0 0 0.25rem;
}
.search-bar button{
    border-radius: 0 0.25rem 0.25rem 0;
}
@media (min-width: 992px) and (max-width: 1200px){
    .scroller-item {
        flex-direction: column-reverse;
        align-items: center;
    }
}
@media (min-width: 570px) and (max-width: 720px){
    .btn-annonce {
        flex-direction: column;
    }
    .btn-annonce a:first-child{
        margin-bottom:0.5rem !important;
    }
    .btn-annonce a:last-child{
        margin:0 !important;
    }
    // .annonce-text > *{
    //     margin: 0;
    // }
}
@media (max-width: 800px){
    .search-bar{
        display: none!important;
    }
}
/* loader ellips in separate pen CSS */