<!DOCTYPE html>
<html lang="fr">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <!--Faire savoir au navigateur que le site Web est optimisé pour les mobiles-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Importer la police d'icônes Google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Lien page de style-->
    <link href="css/style.css" rel="stylesheet">
    <link href="dropzone-5.7.0\dist\basic.css" rel="stylesheet">
    <link href="dropzone-5.7.0\dist\dropzone.css" rel="stylesheet">

    <!--Lien CDN CSS Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {# CDN jQuery #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Lien dropzone-->
    <script src="dropzone-5.7.0\dist\dropzone.js"></script>
    <!-- Re Captcha -->
    {% block reCaptcha %}{% endblock reCaptcha %}

    <!--Titre-->
    <title>{% block title %}Base Twig{% endblock title %} </title>
    {% endblock head %}
</head>

<body>
    <main>
        <!--Barre de navigation-->
        <nav class="navbar navbar-dark bg-dark">
            <div class="row col-12 justify-content-between">
                <a class="navbar-brand" href="accueil">LamaShop</a>

                <!-- Formulaire de recherche -->
                <form class="search-bar form-inline justify-content-center mr-4">
                    <select class="custom-select bg-danger text-light border-0 font-weight-bold cursor-pointer"
                        id="SearchForm">
                        <option selected>Catégories</option>
                            {% for catégorie in categories %}
                            <option value="{{catégorie.id}}">{{catégorie.cat_libelle}}</option>
                            {% endfor %}
                        </select>
                    </select>
                    <input class="form-control rounded-0 border-0 col-lg-8" type="search"
                        placeholder="Une petite envie ?" aria-label="Search">
                    <button class="btn d-flex jusify-content-center bg-danger" type="submit"><i
                            class="material-icons text-light">search</i></button>
                </form>
                <!-- Lien vers page poster -->
                <a href="poster" class="btn btn-danger d-flex p-2" type="button">
                    <span class="d-flex mr-2">
                        <i class="material-icons">add_circle_outline</i>
                    </span>
                    {% block boutonPoster %}
                    <span class="font-weight-bold">Poster une annonce</span>
                    {% endblock boutonPoster %}
                </a>

            </div>
        </nav>
        {% block add %}

        {% endblock add %}
    </main>
    {% block footer %}
    
    {% endblock footer %}
    {% block javascript %}
    <!--Js-->
    <script src="../public/js/infiniteScroll.js"></script>
    <script src="../public/js/dragAndDrop.js"></script>
    <script src="../public/js/formValidation.js"></script>
    <script src="../public/js/reCaptcha.js"></script>
    <script src="../public/js/BackToTop.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

    {% endblock javascript %}

</body>

</html>