{% extends "./base.html.twig" %}
{% block title %}Poster une annonce{% endblock title %}
{% block add %}
<div class="container bg-dark mt-3">
      <div class="row">
            <div class="col-12 text-white font-weight-bold">
                  <div class="text-center d-flex align-items-center flex-column flex-md-row m-0 p-0">
                        <a href="../" class="btn btn-danger text-light d-flex justify-content-center align-items-center col-4 col-md-2 h-100 mr-2"> 
                              <i class="material-icons text-light p-1">arrow_back</i>
                              <p class="m-0 p-1 font-weight-bold">Accueil</p>
                        </a>
                        <h1 class="py-2 text-light rounded col-10">Poster une annonce</h1>
                  </div>
                  <form action="poster" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                        <div class="d-flex mx-auto flex-column col-sm-12 col-md-12 col-lg-12 mb-3 p-0">
                              <label for="titre">Titre</label>
                              <input type="text" name="titre" class="form-control" required>
                        </div>
                        <div class="form-row">
                              <div class="form-group col-sm-12 col-md-6 col-lg-6 ">
                                    <label for="Nom">Nom</label>
                                    <input type="text" name="nom" class="form-control" required>
                              </div>

                              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="Prenom ">Prenom</label>
                                    <input type="text" name="prenom" class="form-control" required>
                              </div>

                        </div>

                        <div class="form-row">

                              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="Email">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                              </div>
                              <div class="form-group  col-sm-12 col-md-6 col-lg-6">
                                    <label for="Telephone">Téléphone</label>
                                    <input type="text" name="telephone" class="form-control" required>
                              </div>

                        </div>

                        <div class="form-row">

                              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="Prix">Prix (€)</label>
                                    <input type="text" name="prix" class="form-control" required>
                              </div>
                              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                                    <label for="categorie">Quelle catégorie fait partie votre annonce.</label>
                                    <select class="form-control" name="categorie">
                                          <option value="selected">Faites votre choix</option>
                                          {% for catégorie in categories %}
                                          <option value="{{catégorie.id}}">{{catégorie.cat_libelle}}</option>
                                          {% endfor %}
                                    </select>
                              </div>

                        </div>
                        <div class="dropzone needsclick text-center text-danger" id="upload-pic" name="nom_image"
                              action="poster">
                              <div id="icon-delete" class="text-danger d-none">
                                    <i class="material-icons text-light">clear</i>
                              </div>
                              <div class="dz-message needsclick">
                                    <i class="material-icons display-3 text-danger">cloud_download</i>
                                    Déposer votre image ou cliquer dans la zone
                              </div>
                        </div>
                        <div class="row">
                              <div class="form-group col-sm-12 col-md-12 col-lg-12 mt-3">
                                    <label for="Description">Description de votre annonce</label>
                                    <textarea name="description" class="form-control rounded-0" id="desc" cols="30"
                                          rows="3" required></textarea>
                              </div>
                              <div id="reCaptcha"
                                    class="form-group col-sm-12 col-md-12 col-lg-12 mt-3 d-flex justify-content-center g-recaptcha"
                                    data-sitekey="6Lem2coZAAAAANrcW6L41VKF1skSH7XmNiSdwgT-"></div>
                              <br />
                              <div class="form-group col-sm-12 col-md-12 col-lg-12">
                                    <button type="submit" value="ajouter"
                                          class="btn bg-danger btn-primary btn-lg btn-block border-0">Envoyer</button>
                              </div>
                        </div>
                  </form>
            </div>
      </div>

</div>
{% endblock add %}
